<br>
<h2>
  <i class="fas fa-user"></i> Profil</h2>
<hr>
<div class="container">
  <div class="row my-2">
    <div class="col-lg-8 order-lg-2">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profil</a>
        </li>
        <li class="nav-item">
          <a href="" data-target="#orders" data-toggle="tab" class="nav-link">Rendelések</a>
        </li>
        <li class="nav-item">
          <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Adatok szerkesztése</a>
        </li>
      </ul>
      <div class="tab-content py-4">
        <div class="tab-pane active" id="profile">
          <div class="row">
            <div class="col-md-6">
              <h6>Alap adatok</h6>
              <p>
                Felhasználónév: {{loggedInUser.user.username}}
                <br> Email: {{loggedInUser.user.email}}
                <br> Regisztrált: {{loggedInUser.user.createdAt | date}}
                <br> Telefonszám: {{loggedInUser.user.phoneNumber}}
              </p>
              <h6>Szállítási cím</h6>
              <p>
                {{loggedInUser.user.shippingAddress}}
              </p>
              <h6>Számlázási cím</h6>
              <p>
                {{loggedInUser.user.billingAddress}}
              </p>
            </div>
          </div>
          <!--/row-->
        </div>
        <div class="tab-pane" id="orders">
          <table class="table table-bordered text-center">
            <thead>
              <th>ID</th>
              <th>Felhasználó</th>
              <th>Termék</th>
              <th>Darabszám</th>
              <th>Dátum</th>
              <th>Végösszeg</th>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders">
                <td *ngIf="order.user['_id'] === loggedInUser.user['_id']">{{order['_id']}}</td>
                <td *ngIf="order.user['_id'] === loggedInUser.user['_id']">{{order.user.username}}</td>
                <td *ngIf="order.user['_id'] === loggedInUser.user['_id']">{{order.items[0].item.name}}</td>
                <td *ngIf="order.user['_id'] === loggedInUser.user['_id']">{{order.items[0].quantity}}</td>
                <td *ngIf="order.user['_id'] === loggedInUser.user['_id']">{{order.createdAt | date}}</td>
                <td *ngIf="order.user['_id'] === loggedInUser.user['_id']">{{order.price}} Ft</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane" id="edit">
          <form role="form">
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Username</label>
              <div class="col-lg-9">
                <input class="form-control" type="text" name="currentuserusername" [(ngModel)]="loggedInUser.user.username">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Email</label>
              <div class="col-lg-9">
                <input class="form-control" type="email" name="currentuseremail" [(ngModel)]="loggedInUser.user.email">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Szállítási cím</label>
              <div class="col-lg-9">
                <input class="form-control" type="text" name="currentusershipping" [(ngModel)]="loggedInUser.user.shippingAddress">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Számlázási cím</label>
              <div class="col-lg-9">
                <input class="form-control" type="text" name="currentuserbilling" [(ngModel)]="loggedInUser.user.billingAddress">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Telefonszám</label>
              <div class="col-lg-9">
                <input class="form-control" type="text" name="currentuserphone" [(ngModel)]="loggedInUser.user.phoneNumber">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label"></label>
              <div class="col-lg-9">
                <input type="reset" class="btn btn-secondary" value="Mégsem">
                <input type="button" class="btn btn-primary" (click)="editUser(loggedInUser.user)" value="Mentés">
                <input type="button" class="btn btn-danger" data-toggle="modal" data-target="#password-modal" value="Jelszó megváltoztatása">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="password-modal" tabindex="-1" role="dialog" aria-labelledby="password-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="password-modalLabel">Jelszó megváltoztatása</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-group">
            <label for="password">Régi jelszó</label>
            <div>
              <input type="password" name="oldpassword" class="form-control" placeholder="Régi jelszó" [(ngModel)]='setPassword.oldPassword'>
            </div>
            <div class="form-group">
              <label for="password">Új jelszó</label>
              <div>
                <input type="password" name="password" class="form-control" placeholder="Új jelszó" [(ngModel)]='setPassword.newPassword'>
              </div>
              <div class="form-group">
                <label for="confirm">Új jelszó ismét</label>
                <div>
                  <input type="password" name="password2" class="form-control" placeholder="Új jelszó ismét" [(ngModel)]='setPassword.newPassword2'>
                </div>
              </div>
            </div>
            </div>
        </form>
        </div>
        <div class="modal-footer">
          <div class="row show-hide-message">
            <div [ngClass]="messageClass">
              {{message}}
            </div>
          </div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezárás</button>
          <button type="button" class="btn btn-success" (click)="updatePassword(setPassword)" data-dismiss="modal">Változtatás</button>
        </div>
      </div>
    </div>
  </div>
