<app-navbar></app-navbar>

<div class="container">
    <flash-messages></flash-messages>
    <router-outlet></router-outlet>
</div>

<div id="sticky-bottom">
    <footer id="footer" class="nav navbar-expand-lg navbar-dark bg-dark justify-content-center">
      <p>&#x24B8; Copyright 2018 - Crane Crew &nbsp;&nbsp;&nbsp;&nbsp;
        <a target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook-square social face"></i></a>
        <a target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram social insta"></i></a>
        <a target="_blank" href="https://www.youtube.com/"><i class="fab fa-youtube social you"></i></a>
        <a target="_blank" href="https://www.pinterest.com/"><i class="fab fa-pinterest social pin"></i></a>
      </p>
    </footer>
  </div>
