<br>
<div class="container">
    <div class="row">
        <div class="col-8">
            <h2 *ngIf="(!longgedIn)"> Üdvözlöm!</h2>
            <p  *ngIf="(!longgedIn)" class="lead"> Kérem jelentkezzen be!</p>
        </div>
        <div class="col-4">
          <h2> Legújabb termékeink:</h2>
          <p class="lead"> Tekintse meg őket</p>
        </div>
      </div>
</div>
<hr>


<!-- *********** oldalsó katagoria link -->

<div class="container">
  <div class="row">
    <div class="col-2">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              <a routerLink="../dashboard/products" routerLinkActive="active" class="nav-link active" >Gyerek</a>
          </li>
          <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              <a routerLink="../dashboard/products" routerLinkActive="active" class="nav-link" >Felnőtt</a>
          </li>
          <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              <a class="nav-link disabled" href="#">Mtn bike</a>
          </li>
          <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              <a class="nav-link disabled" href="#">Városi</a>
          </li>
          <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              <a class="nav-link disabled" href="#">Női</a>
          </li>
          <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              <a class="nav-link disabled" href="#">Férfi</a>
          </li>
        </ul>
    </div>
    
<!-- *********** termékek  -->
    <div class="col-10">
      <div class="container">
        <div class="card-columns">
          <div class="card" *ngFor='let item of items | slice:0:10'>
            <img *ngIf="item.img" class="card-img-top" src="{{'http://localhost:8080/img/' + item.img}}" alt="bicikli kep">
            <img *ngIf="!item.img" class="card-img-top" src="http://localhost:8080/img/no-photo.jpg" alt="bicikli kep">
            <div class="card-body">
              <h5 class="card-title">Termék neve: {{item.name}}</h5>
              <p class="card-text">Fogyasztói ár: {{item.price | currency:'HUF '}} </p>
            </div>
            <div class="card-footer">
              <button type="button" data-toggle="modal" data-target="#details" (click)="modalChange(item._id)" class="btn btn-sm btn-info">Részletek</button>
            </div>
          </div>
        </div>
      </div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
    </div>
  </div>
</div>



<!-- MODAL FOR SHOW DETAILS -->
<div id="details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="exampleModalLabel" class="modal-title"> {{actualItem.name}}</h5>
        <button type="button" data-dismiss="modal" aria-label="Close" class="close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <img *ngIf="actualItem.img" class="card-img-top" src="{{'http://localhost:8080/img/' + actualItem.img}}" alt="bicikli kep">
        <img *ngIf="!actualItem.img" class="card-img-top" src="http://localhost:8080/img/no-photo.jpg" alt="bicikli kep">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Termék név:</span>
          </div>
          <span class="form-control">{{actualItem.name}}</span>
        </div>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Kategória:</span>
          </div>
          <span class="form-control">{{actualItem.category}}</span>
        </div>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Gyártó:</span>
          </div>
          <span class="form-control">{{actualItem.manufacturer}}</span>
        </div>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Ár:</span>
          </div>
          <span class="form-control">{{actualItem.price}}</span>
        </div>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Értékelések:</span>
          </div>
          <ul>
            <!--li *ngFor="comment of comments" class="form-control"><span>{{comment}}</span></li-->
          </ul>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-sm btn-info">Close</button>
        <button type="button" (click)="selectedItem(actualItem)" data-dismiss="modal" class="btn btn-sm btn-warning">
            <i class="fas fa-shopping-cart"></i></button>
      </div>
    </div>
  </div>
</div>
