<br>
<h2>
  <i class="fas fa-money-bill-alt"></i> Fizetés
</h2>
<hr>

<div class="container">
  <div class="row">
      <div class="col-xs-12 col-lg-6">
      <table class="table table-bordered text-center">
        <thead>
          <th>Név</th>
          <th>Ár</th>
          <th>Darabszám</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of cart; let i = index">
            <td>{{item.name}}</td>
            <td>{{item.price | currency: 'Ft '}}</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-light" (click)="removeOne(i)">-</button>
                <input type="text" value="1" class="text-center" min="0" size="1" [(ngModel)]="newOrder.items[i].quantity">
                <button class="btn btn-info" (click)="addOneMore(i)">+</button>
              </div>
            </td>
          </tr>
          <tr>
            <td><strong>Összesen:</strong></td>
            <td>{{cartSum() | currency: 'Ft '}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-12 col-lg-6">
      <div class="form-group">
        <label for="name">Név</label>
        <input type="text" class="form-control" [(ngModel)]="loggedInUser.user.username">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" [(ngModel)]="loggedInUser.user.email">
      </div>
      <div class="form-group">
        <label for="phone">Telefonszám</label>
        <input type="text" class="form-control" [(ngModel)]="loggedInUser.user.phoneNumber">
      </div>
      <div class="form-group">
        <label for="phone">Számlázási cím</label>
        <input type="text" class="form-control" [(ngModel)]="loggedInUser.user.billingAddress">
      </div>
      <div class="form-group">
        <label for="phone">Szállítási cím</label>
        <input type="text" class="form-control" [(ngModel)]="loggedInUser.user.shippingAddress">
      </div>
      <button routerLink="../cart" class="btn btn-info">Vissza a kosárba</button>
      <button class="btn btn-success" (click)="createOrder(cart)">Megrendelés</button>
  </div>
  </div>
</div>

