img.sm-thumbnail {
    width: 60px;

}
.sort-th {
    cursor: pointer;
    text-align: left;
  }

  .is-valid {
      border-color: green;
      border-width: 0 0 0 5px;
  }

  .is-invalid {
      border-color: red;
      border-width: 0 0 0 5px;
  }

  .col-md-4 {
    display: inline-block;
    margin-bottom: 15px;
  }

  .card-img-top {
    height: 210px;
    width: auto;
  }

  
