.navbar .navbar-nav>li>a {
  color: white;
  font-size: 18px;
}
  
.navbar .navbar-nav>li>a:hover,
.navbar .navbar-nav>li>a:focus {
  color: #E0A800;
}

#logo {
  color: red;
  font-size: 1.5em;
  padding-right: 10px;
}

#shop {
  font-size: 1.5em;
}

#footer {
  background-color: #333;
  bottom: 0;
  color: white;
  overflow: hidden;
  padding-top: 15px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.social {
  font-size: 1.7em;
  letter-spacing: 5px;
}

.face {
  color: #3B5998;
}

.face:hover {
  color: #fff;;
}

.insta {
  color: #DC346E;
}

.insta:hover {
  color: #fff;;
}

.you {
  color: #FF0000;
}

.you:hover {
  color: #fff;;
}

.pin {
  color: #BD081C;
}

.pin:hover {
  color: #fff;;
}