<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#" id="blog-name">CC shop</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a routerLink="/" class="nav-link" href="#">Dashboard
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a routerLink="buyers" class="nav-link" href="#">Vásárlók</a>
        </li>
        <li class="nav-item">
          <a routerLink="orders" class="nav-link" href="#">Rendelések</a>
        </li>
        <li class="nav-item">
          <a routerLink="products" class="nav-link" href="#">Termékek</a>
        </li>
        <li class="nav-item">
          <a routerLink="users" class="nav-link" href="#">Felhasználók</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="button-group">
          <button class="btn btn-danger my-2 my-sm-0" type="button" data-toggle="modal" data-target="#exampleModal">Regisztráció</button>
          <button class="btn btn-success my-2 my-sm-0" type="button" data-toggle="modal" data-target="#exampleModalCenter">Belépés</button>
          <button class="btn btn-warning my-2 my-sm-0" type="button">Kilépés</button>
        </div>
      </form>
    </div>
  </div>
</nav>

 

