agm-map {
  height: 300px;
}

#copy {
  padding-top: 10px;
}

.social {
  font-size: 2em;
  letter-spacing: 10px;
  padding-top: 5px;
  text-align: center !important;
}

.face {
  color: #3B5998;
}

.face:hover {
  color: #343A40;
}

.insta {
  color: #DC346E;
}

.insta:hover {
  color: #343A40;
}

.you {
  color: #FF0000;
}

.you:hover {
  color: #343A40;;
}

.pin {
  color: #BD081C;
}

.pin:hover {
  color: #343A40;
}

.fa-shopping-cart {
  font-size: 1.4em;
}