<br>
<h2><i class="fas fa-phone"></i> Elérhetőségeink
</h2>
<hr>

<p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
</p>

<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<div class="container"><br />
  <h1>Send The Email</h1><br />      
    <div class="row">
      <div class="col-md-4"></div>
      <div class="form-group col-md-4">
        <label for="subject">Subject:</label>
        <input type="text" class="form-control" name="subject" [(ngModel)]="mailform.subject">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4"></div>
        <div class="form-group col-md-4">
          <label for="body">Body:</label>
          <textarea cols="5" rows="5"class="form-control" name="body" [(ngModel)]="mailform.body"></textarea>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="form-group col-md-4">
        <button class="btn btn-success" (click)="sendmailform()">Send</button>
      </div>
    </div>
</div>
<div>&nbsp;</div>
<div>&nbsp;</div>