<div class="container" style="padding-top: 50px">
  <div class="row">
    <div class="col-xs-4 item-photo">
      <img style="max-width:500px;" src="{{'http://localhost:8080/img/' + selectedProduct.img}}" />
    </div>
    <div class="col-xs-5" style="border:0px solid gray">
      <h3>{{selectedProduct.name}}</h3>

      <h5 class="title-price">
        Ár:
      </h5>
      <h4 style="margin-top:0px;">{{selectedProduct.price | currency: 'HUF'}}</h4>

      <div class="btn-group">
        <button *ngIf="(longgedIn && isAdmin)" type="button" data-toggle="modal" data-target="#updatePost" (click)="modalChange(selectedProduct._id)"
          class="btn btn-sm btn-outline-danger">Módosítás</button>
        <button *ngIf="(longgedIn && isAdmin)" type="button" (click)="delete(selectedProduct._id)" class="btn btn-sm btn-danger">Törlés</button>
        <a class="btn btn-info" routerLink="../products" routerLinkActive="active" role="button" href="#">Vissza a termékekhez</a>
        <button type="button" (click)="addToCart(selectedProduct)" class="btn btn-sm btn-warning">
          <i class="fas fa-shopping-cart"></i>
        </button>
      </div>
    </div>
    <div class="row my-2">
      <div class="col col-md-12">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a href="" data-target="#information" data-toggle="tab" class="nav-link active">Termékinformáció</a>
          </li>
          <li class="nav-item">
            <a href="" data-target="#garancia" data-toggle="tab" class="nav-link">Garancia</a>
          </li>
          <li class="nav-item">
            <a href="" data-target="#delivery" data-toggle="tab" class="nav-link">Termék Átvétele és/vagy kiszállítás</a>
          </li>
          <li class="nav-item">
            <a href="" data-target="#comments" data-toggle="tab" class="nav-link">Vélemények</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="tab-content py-4">
        <div class="tab-pane active" id="information" style="width:100%;border-top:1px solid silver">
          <p style="padding:15px;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dolore rerum possimus dolorem sunt accusamus quas eaque, eum
            consequuntur nostrum earum doloremque iure magni est, sit atque nihil ex repudiandae!
          </p>
          <ul>
            <li>Gyártó: {{selectedProduct.manufacturer}}</li>
            <li>Kategória: {{selectedProduct.category}}</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci explicabo rerum debitis, ex porro nemo fuga
              illo beatae ab eos aliquid tempore soluta et sequi vero quibusdam id mollitia illum.</li>
          </ul>
        </div>
        <div class="tab-pane" id="garancia" style="width:100%;border-top:1px solid silver">
          <div class="col col-md-12">
            <p style="padding:15px;">
              Termékeinkre 6 hónapos pénzvisszafizetési garanciát vállalunk, ezen felül pedig 12 hónapig bizonyos javításokat ingyenesen
              végzünk, városszerte megtalálható velünk szerződött bicikli-szervízek bármelyikében. Bármilyen kérdés fölmerülne,
              forduljon hozzunk bizalommal, a kapcsolat menüpont alól küldhet nekünk ímélt, melyet lelkes csapatunk minél
              hamarabb megválaszol.
            </p>
          </div>
        </div>
        <div class="tab-pane" id="delivery" style="width:100%;border-top:1px solid silver">
          <div class="col col-md-12">
            <p style="padding:15px;">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, quaerat asperiores cumque est laboriosam ratione libero
              nisi doloremque praesentium iste, nemo reiciendis culpa reprehenderit voluptatem? Sint ipsum et debitis aspernatur!

            </p>
          </div>
        </div>
        <div class="tab-pane" id="comments" style="width:100%;border-top:1px solid silver">
            <div class="col col-md-6">
                
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- *********** MODAL FOR UPDATE ITEM -->
<div id="updatePost" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="exampleModalLabel" class="modal-title">ID: {{selectedProduct._id}}</h5>
        <button type="button" data-dismiss="modal" aria-label="Close" class="close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p>A módosításhoz csak írja át a változtatni kívánt részt!</p>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Termék név:</span>
          </div>
          <input [(ngModel)]="selectedProduct.name" type="text" aria-label="name" aria-describedby="inputGroup-sizing-default" class="form-control"
          />
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Gyártó:</span>
          </div>
          <input [(ngModel)]="selectedProduct.manufacturer" type="text" aria-label="manufacturer" aria-describedby="inputGroup-sizing-default"
            class="form-control" />
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Ár:</span>
          </div>
          <input [(ngModel)]="selectedProduct.price" type="text" aria-label="price" aria-describedby="inputGroup-sizing-default" class="form-control"
          />
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Kategória:</span>
          </div>
          <select class="custom-select" name="userRole" [(ngModel)]="selectedProduct.category">
            <option *ngFor='let categ of categs' [value]="categ.name">{{categ.name}}</option>
          </select>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Kép név:</span>
          </div>
          <input [(ngModel)]="selectedProduct.url" type="text" aria-label="url" aria-describedby="inputGroup-sizing-default" class="form-control"
          />
        </div>

        <p>A kép mentett neve: {{selectedProduct.img}}</p>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Link:</span>
          </div>
          <input [(ngModel)]="selectedProduct.newImg" type="text" aria-label="img" aria-describedby="inputGroup-sizing-default" class="form-control"
            placeholder="A kép frissítéséhez adj meg új linket" />
        </div>
        <br>

      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-info">Close</button>
        <button type="button" data-dismiss="modal" (click)="update()" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
