<br>
<h2>
    <i class="fas fa-cog"></i> Dashboard
    <small class="text-muted">Admin felület</small>
</h2>
<hr>

<div class="row">
    <div class="col-sm-3">
    <ul class="list-group">
      <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" *ngIf="orders !== undefined">
        <a routerLink="../orders" class="nav-link">Rendelések</a>
        <span class="badge badge-success badge-pill">{{order.length}}</span>
      </li>
      <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"  *ngIf="items !== undefined" >
          <a routerLink="../products" class="nav-link">Termékek</a>
        <span class="badge badge-success badge-pill">{{items.length}}</span>
    </li>
      <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" *ngIf="users !== undefined">
          <a routerLink="../users" class="nav-link">Felhasználók</a>
          <span class="badge badge-success badge-pill">{{users.length}}</span>
        </li>
    </ul>
</div>
<div class="col-xs-12 col-md-12 col-lg-9">
    <div class="card-group">
        <div class="card" >
            <h1 *ngIf="users !== undefined">
                <i class="fas fa-users icon"></i> {{users.length}}</h1>
                <div class="card-body">
                    <h5 class="card-title">Felhasználók</h5>
                </div>
            </div>
      <div class="card">
          <h1 *ngIf="items !== undefined">
              <i class="fas fa-bicycle icon"></i> {{items.length}}</h1>
        <div class="card-body">
            <h5 class="card-title">Termékek</h5>
        </div>
      </div>
      <div class="card">
        <h1 *ngIf="orders !== undefined">
            <i class="fas fa-user icon"></i> {{orders.length}}</h1>
            <div class="card-body">
          <h5 class="card-title">Vásárlók</h5>
        </div>
    </div>
      <div class="card">
          <h1>
              <i class="fas fa-dollar-sign icon"></i> {{orderPrice }}</h1>
              <div class="card-body">
                  <h5 class="card-title">Bevétel</h5>
                </div>
      </div>
    </div>
  </div>
</div>
<div>&nbsp;</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Napi bevétel</li>
  </ol>
</nav>
<google-chart [data]="pieChartData" *ngIf = "filltable"></google-chart>
<br>
<br>
<br>






